
.box{
    position: relative;
    margin:200px auto 0;
    width: 500px;
    aspect-ratio: 1;
    background: rgb(54, 51, 51);
    color: rgb(54, 51, 51);
    font-size: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .2s 999999999s;
}



.progress-bar{
    width: 0px;
    height: 50px;
    background: red;
    position: absolute;
    margin: auto;
    top: -100px;
    left: -150px;
    transition: 3s;
}

.box:hover .progress-bar{
    width: 800px;
}

.box:hover{
    color: green;
    transition-delay: 3s;
}