body{
    background: rgb(48, 47, 47);
    height: 300vh;
}
p{
    color: white;
    font-size: 32px;
}

.container{
    width: 100%;
    position: fixed;
    bottom: 100px;
    padding-right: 50px;
}

.box{
    position: relative;
    left: 50%;
    height: 100px;
    background: white;
    border-radius: 8px;
    width: 50%;
    
}
.circle{
    position: absolute;
    top: -50%;
    left: 100px;
    width: 100px;
    aspect-ratio: 1;
    background: rgb(163, 46, 46);
    border-radius: 50%;
}